:root {
  --c-primary: #03a9f4;
  --c-secondary: #ffc23ede;
  --c-black: #333333;
  --c-white: #f1f3f6;
  --font-sans: Roboto, 'Helvetica Neue', Arial, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'BIZ UDPGothic', Meiryo,
    'sans-serif';
}
