.drawerPaper {
  overflow-x: hidden;
  &::before,
  &::after {
    content: '';
    width: 100%;
    background: rgba(255, 255, 255, 0.75);
    backdrop-filter: blur(4px);
    position: absolute;
    left: 0;
    pointer-events: none;
  }
  &::before {
    height: 58%;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%);
    top: 0;
  }
  &::after {
    height: 20%;
    clip-path: polygon(0 0, 100% 75%, 100% 100%, 0 100%);
    bottom: 0;
    z-index: -1;
  }
}

.drawerHeader {
  margin: 25px 30px;
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
}

.title {
  margin-left: 0.5em;
  color: var(--c-primary);
  font-size: 3rem;
  font-weight: bold;
}

.selected {
  color: var(--c-white) !important;
  background-color: var(--c-primary) !important;
  & svg {
    fill: var(--c-white);
  }
}
