@import 'styles/assets/mixins';

.fader {
  outline: 0 !important;
}

.paper {
  max-width: 700px;
  padding: 2em 1em;
  margin: 0 0.5rem;
  background: var(--c-white);
  border-radius: 0.8rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  @include mq(sm) {
    padding: 2em;
  }
}

.container {
  width: 100%;
  max-height: 60vh;
  padding: 1.5em 0.8em;
  border-radius: 0.8rem;
  box-shadow: inset 3px 3px 5px #cfd1d4, inset -3px -3px 5px #ffffff;
  overflow-y: scroll;
  @include mq(sm) {
    padding: 2em 1.5em;
  }
  @include mq(md) {
    max-height: none;
    overflow-y: auto;
  }
}

.h2 {
  margin: 0 0 0.8em;
  color: var(--c-primary);
  font-size: 1.8em;
  text-align: center;
  display: flex;
  align-items: center;
}

.h3 {
  margin-top: 2em;
  color: var(--c-primary);
  font-size: 1.25em;
  &:first-child {
    margin-top: 0;
  }
}

.p {
  margin: 1.2em 0;
  &:first-child {
    margin-top: 0;
  }
}
