$fontSans: 'Helvetica Neue', Arial, 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'BIZ UDPGothic', Meiryo, sans-serif;
$fontSerif: 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'BIZ UDPMincho', '游明朝', YuMincho, 'HG明朝E', serif;
$fontMono: '"SFMono-Regular"', Menlo, Consolas, 'Bitstream Vera Sans Mono', 'Courier New', Courier, 'BIZ UDGothic',
  メイリオ, Meiryo, monospace;
